# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
.env/
venv/
*.env

# OS files
.DS_Store

# Raw training data
data/raw/*.csv
